@font-face {
    font-family: PiratesBay;
    src: url(assets/fonts/piratesbay.ttf);
}
body {background-image: url('assets/background-img.jpg');}
html, body {overscroll-behavior: none;}

.background_image {background-position: center; background-repeat: no-repeat; background-size: contain;}

.role_token {height: 150px; width: 150px; position: absolute; background-repeat: no-repeat; background-size: cover; left: 0px; border-radius: 100%;}
.bottom_buttons {position: absolute; bottom: 10px; width: 100px; height: 100px; border-radius: 20px; background-position: center; background-repeat: no-repeat; background-size: contain;}
.info_tokens    {display:inline-block; width: 80px; height: 80px; background-position: center; background-repeat: no-repeat; background-size: contain; margin: 5px;}
.reminder   {height: 75px; width: 75px; position: absolute; background-repeat: no-repeat; background-size: cover; left: 0px; border-radius: 100%;}
.token_text {position: absolute;width: 100%; top:150px; height: 35px; text-align: center; font-size: 20pt; font-family: PiratesBay; pointer-events: none;}
.info_name_feild {height: 40px; width: 470px; position: absolute; top: 180px; right: 0px; color:black; font-size: 20pt; background-color: #afafaf;}

.night_order_tab {width: 90px; height: 90px; display: inline-block; background-position: center; background-repeat: no-repeat; background-size: contain; border-bottom: 2px solid black; cursor: pointer; position:static; transform: translateX(0px); transition: all ease-in-out 0.2s; text-align: left; min-height: 90px; overflow: hidden;}
.night_order_img {width: 90px; height: 90px; display: inline; pointer-events: none; position: absolute; left: 0px; top: 0px;}
.night_order_span {width: 399px; height: calc(max-content + 10px); display: inline-block; transform: translateX(81px); padding: 10px; font-size: 15pt; font-family: PiratesBay; color: white; pointer-events: none;}

.night_select {width: 96px; height: 41px; position: absolute; text-align: center; font-family: PiratesBay; font-size: 28pt; border: black 2px solid; background-image: url("assets/vines.png"); color: #afafaf; cursor: pointer; user-select: none;}
.trashcan {position: absolute; bottom: 5px; left: 5px; width: 70px; height: 70px; opacity: 0.4; transition: opacity linear 0.1s; cursor: pointer; border-radius: 10px; background-image: url("assets/delete.png"); background-position: center; background-repeat: no-repeat; background-size: contain;}
.trashcan:hover {opacity: 0.7;}
.token_death {width: 50px; pointer-events: none; position: absolute; left: 50px; top: 7px;}
.token_vote {width: 100px; pointer-events: none; position: absolute; left: 25px; top: 25px;}
.token_visibility_pip {width: 35%; height: 35%; background-image: url(assets/visibility_off_red.png); position: absolute; right: 25px; bottom: 25px; pointer-events: none;}
.mutate_menu_token {display: inline-block; height: 120px; width: 120px; cursor: pointer;}

.alignment_token {position: static; display: inline-block; margin: 5px; width: 75px; height: 75px;}

.toggle_menu       {position: absolute; top: 5px; left: 5px; width: 70px; height: 70px; opacity: 0.4; transition: opacity linear 0.1s; background-color: lightslategrey; cursor: pointer; border-radius: 10px; background-image: url("assets/menu_open.png"); background-position: center; background-repeat: no-repeat; background-size: contain;}
.toggle_menu:hover {opacity: 0.6;}
.close_menu        {position: absolute; top: 5px; right: 5px; width: 55px; height: 55px; opacity: 0.4; transition: opacity linear 0.1s; cursor: pointer; background-image: url("assets/close.png"); background-position: center; background-repeat: no-repeat; background-size: contain;}
.close_menu:hover  {opacity: 0.6;}
.menu_main         {position: absolute; top: 0px; left: 0px; height: 100%; width: 300px; background-image: url('assets/background-img2.webp');transition: transform ease-in-out 0.2s;}
.menu_left         {position: absolute; left: 0px; top: 0px; width: 300px; height: 100%; border-right: 1px solid white; overflow: hidden;}
.menu_toggle       {position: absolute; right: 0px; top: 0px; width: 30px; height: 100%; background-position: center; background-size: contain; background-repeat: no-repeat; cursor: pointer;}
.menu_title        {position: fixed; width: 280px; height: 70px; opacity: 1; background-image: url('assets/botc_logo.png'); background-position: center; background-repeat: no-repeat; background-size: contain; margin: 10px;}
.menu_body         {position: fixed; width: 280px; height: calc(100% - 110px); padding: 10px; top: 90px; overflow-y: scroll; display: block; font-size: 25px;}
.menu_list         {position: absolute; font-size: 20px; color: white; cursor: pointer;}
.menu_list_div     {position: relative; cursor: pointer; font-size: 20px; width: 100%;}
.menu_token_count  {position: absolute; right: 10px; height: 20px; color: white;}
.menu_header       {width: 263px; text-align: center; font-size: 40pt; text-shadow: 0 0 3px rgb(255, 255, 255)}
.menu_ratio        {width: 100%; text-align: center; color: white; font-size: 15pt;}
