body {background-image: url('assets/background-img.jpg');}
html, body {overscroll-behavior: none;}
.role_token {height: 150px; width: 150px; position: absolute; background-repeat: no-repeat; background-size: cover; left: 0px;}
.bottom_buttons {position: absolute; bottom: 10px; width: 100px; height: 100px; border-radius: 20px; background-position: center; background-repeat: no-repeat; background-size: contain;}
.info_tokens    {display:inline-block; width: 80px; height: 80px; background-position: center; background-repeat: no-repeat; background-size: contain; margin: 5px;}
.reminder   {height: 75px; width: 75px; position: absolute; background-repeat: no-repeat; background-size: cover; left: 0px;}