


.menu_main         {position: absolute; top: 0px; left: 0px; height: 100%; width: 300px; background-image: url('assets/background-img2.webp'); opacity: 0.4; transition: opacity linear 0.1s, transform ease-in-out 0.2s; }
.menu_main:hover   {opacity: 0.6;}
.menu_left         {position: absolute; left: 0px; top: 0px; width: 270px; height: 100%; border-right: 1px solid white; overflow: hidden;}
.menu_toggle       {position: absolute; right: 0px; top: 0px; width: 30px; height: 100%; background-position: center; background-size: contain; background-repeat: no-repeat; cursor: pointer;}
.menu_title        {position: fixed; width: 250px; height: 70px; opacity: 1; background-image: url('assets/botc_logo.png'); background-position: center; background-repeat: no-repeat; background-size: contain; margin: 10px;}
.menu_body         {position: fixed; width: 250px; height: calc(100% - 110px); padding: 10px; top: 90px; overflow-y: scroll; display: block; font-size: 25px;}
.menu_list         {font-size: 20px; color: white; cursor: pointer;}



